body {
  background-color: var(--off-black);
  color: var(--white);
  font-family: Inter, sans-serif;
  height: 100svh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: var(--dark-grey);
  border-radius: 1rem;
  max-width: 380px;

  padding: 1.5rem 0 2.5rem 0;
  margin: 0 2rem;
}

.card h1, address, p, nav {
  width: 80%;
  text-align: center;
}

.card figure img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem 0;
}

.card h1 {
  font-size: 1.5rem;
  font-weight: 400;

  margin-bottom: .75rem;
}

.card address {
  font-style: normal;
  font-size: 0.9rem;
  color: var(--green);
  font-weight: 600;

  margin-bottom: 2rem;
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 1.75rem;
  text-align: center;
}

.card nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card ul, li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  width: 100%;
}

.card a {
  /* card anchor css reset */
  border-style: none;
  text-decoration: none;
  color: inherit;
  /* card anchor css reset */
  
  background-color: var(--grey);

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  
  height: 48px;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;

  transition: all 0.3s ease-in-out;
}

.card a:hover {
  background-color: var(--green);
  color: var(--dark-grey);
  transition: all 0.3s ease-in-out;
}
